h1,
h2,
h3,
h4,
h5,
h6,
p { 
    margin-top: 0;
    margin-bottom: 0;
    }

img {
    display: block;
    max-width: 100%;
}
    ul,
    ol,
    li {
        margin-top: 0;
        margin-bottom: 0;
       padding: 0;
    }


        /* container stail*/ 

    .container {
            width: 1158px;
            margin-left: auto;
            margin-right: auto;
            padding-left: 15px;
            padding-right: 15px;
            
            

    }
    .header-container {
        display: flex;
            align-items: center;
            width: 1158px;
            height: 72px;
            flex-shrink: 0;
    }

.pege-nav-navigetion {
        display: flex;
        align-items: center;
        margin-right: auto;
   
        
    
}


.menu-list {
    margin: 0;
    gap: 40px;
    display: inline-flex;
    align-items: flex-start;
    
        
}

.menu-contacts {
    display: flex;
        gap: 40px;
        
}

.pege-header {
     border-bottom: 1px solid #e7e9fc;
     align-items: center;

}
.menu-contacts-link{ 
         
        display: inline-block;
            padding-top: 24px;
            padding-bottom: 24px;
            font-size: 16px;
            font-weight: 400;
            line-height: 1.5;
            letter-spacing: 0.32px;
}













body 
{
    background-color:#ffffff;
    font-family: 'Roboto', sans-serif;
    color:#434455;
    font-size: 14px;
    line-height: 1.4;
}



/* decor none */

.list-text-decoration,
.menu,
.menu-contacts,
.our-portfolio-link
 {
    list-style-type: none;
        }
.menu-contacts-link, 
.menu-link {
    text-decoration: none;
}
button {cursor: pointer;}

.address-link{
    font-style: normal
}

/* logo */

.logo
{ 
    margin-right: 76px;
    display: inline-block;
    font-family: "Raleway", sans-serif;
    color: #4D5AE5;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-align: left;
    text-decoration: none;
    
}
.logo-accent{
    color: #2e2f42;
    

    }
    .logo-accen-footer {

            color: #f4f4fd;
            font-family: "Raleway", sans-serif;
            font-size: 18px;
            font-weight: 700;
            line-height: 1.17;
            letter-spacing: 0.03em;
            text-align: left;

        }

    
/* menu  */

.menu-list {

        font-size: 16px;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.02em;
        
}

.menu-link {
    color: rgba(46, 47, 66, 1);;
}

.menu-link:focus,
.menu-link:hover {
        color: #404BBF;
        }

                /* menu  contacts */

.menu-contacts {
    
        font-size: 16px;
        font-weight: 400;
        line-height: 1.5;
        letter-spacing: 0.02em;
        text-align: left;
}
.menu-contacts-link {
color: rgba(67, 68, 85, 1);

}
.menu-contacts-link:hover,
.menu-contacts-link:focus {
        
        color: #404BBF;
   
}

/* order */

.order-service {
    background: rgba(46, 47, 66, 1);
    
           
 }
.order-service-title {
    color: #ffffff;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
}

/* order button */

.order-service-button {
        background-color: #4D5AE5;
        cursor: pointer;
        font-size: 16px;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.04em;
        text-align: left;
        color: #ffffff;
        
    }

.order-service-button:hover,
.order-service-button:focus {
    
    background-color: #404BBF;
}

/*  Section-Advantages */

.advantages-title {

    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    
    color: #2E2F42;
}

.advantages-paragraph {

    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    
}

/*  Section-Our-Team  */

.our-team{
background-color: #F4F4FD;
text-align: center;
    text-transform: capitalize;
}

.our-team-title{

    color: #2E2F42;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    
}

.our-team-name{
    
    color: #2E2F42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
}
.our-team-profession{

    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    
}

.our-team-link
{
    background-color: #FFFFFF
    
}

/*  Section-Our-Portfolio  */


.our-portfolio-title
{

    color: #2E2F42;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
        text-transform: capitalize;
}

.our-portfolio-service{
    
font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
}


.our-portfolio-name{

        color: #2E2F42;
        font-size: 20px;
        font-weight: 500;
        line-height: 1.2;
        letter-spacing: 0.02em;
        
}

/*.our-portfolio-decoration {}*/

/*  footer  */

.footer-content{
background: rgba(46, 47, 66, 1);
color: #f4f4fd
}

.footer-advice{
font-family: "Raleway", sans-serif;
        color: #f4f4fd;
        font-size: 16px;
        font-weight: 400;
        line-height: 1.5;
        letter-spacing: 0.02em;
        text-align: left;
    
}
/* додав з репозіторій
