/* decor none*/

.list-text-decoration,
.menu,
.menu-contacts,
.our-portfolio-link 
{
    list-style-type: none;
}

.menu-contacts-link,
.menu-link {
    text-decoration: none;
}

.address-link 
{
    font-style: normal
}

h1,
h2,
h3,
h4,
h5,
h6,
p 
{
    margin-top: 0;
    margin-bottom: 0;
}

img 
{
    display: block;
    max-width: 100%;
}

ul,
ol,
li 
{
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
}

button 
{
    cursor: pointer;
}


/* container stail*/

body 
{
    background-color: #ffffff;
    font-family: 'Roboto', sans-serif;
    color: #434455;


}

.container 
{
    width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
}

.header-container 
{
    display: flex;
    align-items: center;
    width: 1158px;
    height: 72px;
    flex-shrink: 0;
}


.pege-nav-navigetion 
{
    display: flex;
    align-items: center;
    margin-right: auto;

}




.menu-contacts 
{
    display: flex;
    gap: 40px;
    
}

.pege-header 
{
    border-bottom: 1px solid #e7e9fc;
    align-items: center;

}

.menu-contacts-link 
{

    display: inline-block;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.32px;
    padding: 24px 0 24px
}


.visually-hidden 
{
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}



.order-service 
{

    padding-top: 188px;
    padding-bottom: 188px;

}

.order-service-title 
{

    max-width: 496px;
    margin: auto;
    margin-bottom: 48px;

}



.section
{
    padding-top: 120px;
    padding-bottom: 120px;

}

.advantages 
{
    padding-top: 120px;
    padding-bottom: 120px;

}

.list-text-decoration 
{

    display: flex;
    gap: 24px;

}


.advantages-link
 {
    display: flex;
    width: 264px;
    flex-direction: column;

}

.advantages-title 
{

    margin-bottom: 8px;
}



.footer-content {
    padding-top: 100px;
    padding-bottom: 100px;
}



.our-portfolio-link 
{
    display: flex;


}

/* logo */

.logo {
    margin-right: 76px;
    display: inline-block;
    font-family: "Raleway", sans-serif;
    color: #4D5AE5;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-align: left;
    text-decoration: none;
    padding: 25.5px 0 25.5px

}
.footer-logo {
    margin-bottom: 16px;
}

.logo-accent {
    color: #2e2f42;


}

.logo-accen-footer {

    color: #f4f4fd;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-align: left;

}


/* menu  */
.menu {
    padding: 24px 0 24px
}
.menu-list 
{
    margin: 0;
    gap: 40px;
    display: inline-flex;
    align-items: flex-start;

}
.menu-list {

    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;

}

.menu-link {
    color: rgba(46, 47, 66, 1);
    ;
}

.menu-link:focus,
.menu-link:hover {
    color: #404BBF;
}

/* menu  contacts */

.menu-contacts {

    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: left;
}
.menu-contacts-title {
    padding: 24px 0 24px
}
.menu-contacts-link {
    color: rgba(67, 68, 85, 1);

}

.menu-contacts-link:hover,
.menu-contacts-link:focus {

    color: #404BBF;

}

/* order */

.order-service {
    background: rgba(46, 47, 66, 1);


}
.order-service-button 
{
    display: block;
    padding: 16px 32px;
    border-radius: 4px;
    margin-left: auto;
    margin-right: auto;
    border: none;
    min-width: 169px
}
.order-service-title {
    color: #ffffff;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;

}

/* order button */

.order-service-button {
    background-color: #4D5AE5;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: left;
    color: #ffffff;

}

.order-service-button:hover,
.order-service-button:focus 
{

    background-color: #404BBF;
}

/*  Section-Advantages */

.advantages-title {

    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;

    color: #2E2F42;
}

.advantages-paragraph {

    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;

}

/*  Section-Our-Team  */

.our-team {
    background-color: #F4F4FD;
    text-align: center;
    text-transform: capitalize;
}

.our-team-title {
margin-bottom: 72px;
    color: #2E2F42;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;

}
.our-name {
    padding: 32px 0 32px
}
.our-team-name {

    margin-bottom: 8px;
    color: #2E2F42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
}

.our-team-profession {

    text-align: center;
    line-height: 1.5;
    letter-spacing: 0.02em;

}

.our-team-link {
    background-color: #FFFFFF;
    width: calc((100% - 74) / 4);
    border-radius: 0px 0px 4px 4px;
   
}

/*  Section-Our-Portfolio  */


.our-portfolio-title {

    color: #2E2F42;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 72px;
}

.our-portfolio-link {
    display: flex;
    column-gap: 24px;
    row-gap: 48px;
    flex-wrap: wrap;
}
.our-portfolio-service {

    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.our-portfolio-decoration-name {
    padding: 32px 16px;
        border: 1px solid #e7e9fc;
        border-top: none;
}
.our-portfolio-name {
    margin-bottom: 8px;
    color: #2E2F42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;

}
.our-portfolio-decoration{
    width: calc((100% - 48px) / 3);
        border-top: none;

}

/*  footer  */

.footer-content 
{
    background: rgba(46, 47, 66, 1);
    
}

.footer-advice 
{
    color: #f4f4fd;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: left;
    max-width: 264px;
    }
